box: ubuntu/trusty64
email: vagrant@openstack.site
enable_git: false
enable_ssh: false
hostname: openstack.site
name: Vagrant
password: password
remote_address: 127.0.0.1
run_stack: true
vagrantcloud_access_key: YOUR_ACCESS_KEY
vagrantcloud_username: YOUR_USERNAME
venv: true
