box: ubuntu/trusty64
email: vagrant@devstack.site
enable_git: false
enable_ssh: false
hostname: devstack.site
more_images: false
more_network_services: false
name: Vagrant
password: stack
remote_address: 127.0.0.1
run_stack: true
use_ceilometer: false
use_heat: false
use_ldap: false
use_swift: false
venv: false
